h1 {
    color: #FCA205;
}

body {
    padding-top: 70px;
	padding-left: 15px;
}

.picture-profile {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.thumbnail {
    border: 0;
}

.form-group {
        margin-bottom: 50px;
}

#explore {
    > .col-xs-4, > .col-sm-3 {
        padding: 0;
    }
}

.picture-square {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  cursor: pointer; }
  .picture-square > a {
    cursor: pointer; }
  .picture-square:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .picture-square .content {
    cursor: pointer;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .picture-square:hover .content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff; }
    .picture-square:hover .content .fa {
      color: #fff;
      margin-right: 5px; }
      .picture-square:hover .content .fa:not(:first-of-type) {
        margin-left: 25px; }
        @media screen and (max-width: 724px) {
          .picture-square:hover .content .fa:not(:first-of-type) {
            margin-left: 10px; } }

#explore > .col-xs-4, #explore > .col-sm-3 {
  padding: 0; }
