h1 {
    color: #FCA205;
}

body {
    padding-top: 70px;
	padding-left: 15px;
}

.picture-profile {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.thumbnail {
    border: 0;
}

.form-group {
        margin-bottom: 50px;
}

.picture-square {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  cursor: pointer; }
  .picture-square > a {
    cursor: pointer; }
  .picture-square:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .picture-square .content {
    cursor: pointer;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .picture-square:hover .content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff; }
    .picture-square:hover .content .fa {
      color: #fff;
      margin-right: 5px; }
      .picture-square:hover .content .fa:not(:first-of-type) {
        margin-left: 25px; }
        @media screen and (max-width: 724px) {
          .picture-square:hover .content .fa:not(:first-of-type) {
            margin-left: 10px; } }

.desktop-block {
  display: block; }
  @media screen and (max-width: 724px) {
    .desktop-block {
      display: none; } }

.mobile-block {
  display: none; }
  @media screen and (max-width: 724px) {
    .mobile-block {
      display: block; } }

.stats {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0; }
  .stats > * {
    font-size: 17px;
    color: #262626; }
  .stats .stats__count {
    display: inline-block;
    margin-right: 40px; }
    .stats .stats__count span {
      font-weight: bold; }
  .stats a:hover {
    color: #262626;
    cursor: pointer; }

.single-post-card {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  padding-right: 335px;
  width: 100%;
  position: relative;
  background-color: #fff; }
  .single-post-card .header, .single-post-card .comments-portion {
    display: flex;
    flex-shrink: 0; }
  .single-post-card .header {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 24px;
    width: 287px;
    display: flex;
    align-items: center; }
    .single-post-card .header img {
      margin-right: 5px; }
    .single-post-card .header a {
      color: #262626;
      font-weight: bold; }
  .single-post-card .comments-portion {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 335px;
    padding: 0 24px;
    flex-direction: column; }
  @media screen and (max-width: 875px) {
    .single-post-card {
      padding-right: 0; }
      .single-post-card .header, .single-post-card .comments-portion {
        position: relative;
        width: 100%; }
      .single-post-card .header {
        top: 0;
        right: 0;
        padding: 18px 20px;
        border: none; } }

#explore > .col-xs-4, #explore > .col-sm-3 {
  padding: 0; }
