{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'profile' request.user %}">My Profile</a></li>
    {% else %}
    <div id="landing-header">
        <h1>Welcome to InstaClone!</h1>
        <!--<a href="/campgrounds" class="btn btn-lg btn-success">View All </a>-->
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<!--<li><a href="{% url 'login' %}">Login</a></li>-->
<!--<li><a href="{% url 'signup' %}">Signup</a></li>-->
{% endif %}

{% endblock %}
