{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="cards-listing">
            {% for post in posts %}
                <div class="row">
                    <div class="card view-update {{ post.pk }}">
                        <div class="card__panel-head">
                            <div class="poster__info">
                                <a href="{% url 'profile' post.user.user.username %}" class="poster__name">
                                    {% if post.user_profile.profile_pic %}
                                        <img class="poster__profilepic" src="{{ post.user.pic_profile.url }}">
                                    {% else %}
                                        <img class="poster__profilepic" src="{% static 'images/place_holder.jpg' %}">
                                    {% endif %}
                                    {{ post.user.user.username }}
                                </a>
                                <span class="poster__timestamp">
                                    {{ post.uploaded_on|timesince }}
                                </span>
                            </div>
                        </div>
                        <img class="card__main-image" src="{{ post.image.url }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
