{% extends 'base.html' %}

{% load static %}

{% block body_class_override %}white{% endblock %}
{% block content %}
    <div id="landing-header">
        <h1>Welcome to InstaClone!</h1>
        <!--[><a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a><]-->
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign up for Bootsnipp <small>It's free!</small></h3>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form  %}
                                <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                                </p>
                            {% endfor %}

                            <button class="btn btn-default">Login</button>
                            <div class="text-center help-text">
                                Don't have an account? <a href="{% url 'signup' %}">Register</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
