{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if request.user.is_authenticated %}
                <div class="row">
                    {% if request.user == user %}
                    <div class="col-md-12 lead">
                        Welcome, <strong>{{ user }}.</strong><br>
                        <hr>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        {% if profile.pic_profile %}
                        <img class="picture-profile" src="{{ profile.pic_profile.url }}">
                        {% else %}
                        <img class="picture-profile" src="{% static 'images/place_holder.jpg' %}">
                        {% endif %}
                    </div>
                    <div class="row form-group">        
                        <div class="col-md-6">
                            {% if request.user == user %}
                            <span class="text-muted">
                                <button class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i><a href="{% url 'profile_settings' user.username %}"> Edit Profile</a></button><br>
                            </span>
                            {% endif %}
                            <span class="text-muted"><a href="{% url 'home' %}">My Feed</a></span></br>
                                <div class="desktop-block">
                                    <p>{{ profile.description }}</p>
                                    <span class="text-muted"><a href="{% url 'post_picture' %}">Post Picture</a></span><br>
                                    <ul class="stats">
                                        <li class="stats__count"><span>{{ profile.postit_set.count }}</span> Posts</li>
                                        <a href="{% url 'followers' username=profile.user.username %}"><li class="stats__count"><span>{{ profile.get_number_of_followers }}</span> Followers</li></a>
                                        <a href="{% url 'following' username=profile.user.username %}"><li class="stats__count"><span>{{ profile.get_number_of_following }}</span> Following</li></a>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for post in profile.postit_set.all reversed %}
        <div class="col-lg-4 cl-sm-6">
            <div class="thumbnail">
                <img src="{{ post.image.url }}">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
