{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 lead">
                            {% if request.user.is_authenticated %}
                                Welcome, <strong>{{ request.user }}.</strong><br>
                                <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            {% if profile.pic_profile %}
                                <img class="picture-profile" src="{{ profile.pic_profile.url }}">
                        </div>
                        <div class="row form-group">        
                            <div class="col-md-6">
                                <span class="text-muted">
                                    <button class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i><a href="{% url 'profile_settings' request.user %}"> Edit Profile</a></button><br>
                                </span>
                                <span class="text-muted"><a href="{% url 'home' %}">My Feed</a></span></br>
                                    <p><strong>{{ request.user }} </strong> {{ profile.description }}</p>
                                <span class="text-muted"><a href="{% url 'post_picture' %}">Post Picture</a></span><br>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% for post in posts %}
                            <div class="col-lg-4 cl-sm-6">
                                <div class="thumbnail">
                                    <img src="{{ post.image.url }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% else %}
                    <img class="picture-profile" src="{% static 'images/place_holder.jpg' %}">
                {% endif %}

            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'signout' %}">Signout</a></li>
            {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
