{% extends 'base.html' %}
{% load static %}

{% block body_class_override %}white{% endblock %}
{% block content %}
{% if user.userid.pic_profile %}
<img class="profile_picture" src="{{ user.userid.pic_profile }}">
{% else %}
<img class="profile_picture" src="{{% static 'images/place_holder.jpg' %}">
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.pic_profile.label }}
        {{ form.pic_profile }}
    </div>
    <div class="form-group">
        {{ form.description.label }}
        {{ form.description }}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}
